@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Pangolin", cursive;
  --font-display: "Pangolin", cursive;
}

@layer base {
  body {
    @apply min-h-screen;
    letter-spacing: -0.015em;
  }
}



.marker-highlight {
  position: relative;
  z-index: 1;
}

.marker-highlight::after {
  content: "";
  position: absolute;
  left: -2px;
  right: -2px;
  bottom: 0;
  height: 40%;
  background: #FF69B4; /* Pink highlight */
  z-index: -1;
  opacity: 0.5;
  transform: rotate(-1deg);
}

.scroll-fade-bottom {
  mask-image: linear-gradient(to bottom, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent);
}

.scroll-fade-top {
  mask-image: linear-gradient(to top, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to top, black 80%, transparent);
}

.scroll-fade-both {
  mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
}

@media (min-width: 1024px) {
  .scroll-fade-bottom, .scroll-fade-both, .scroll-fade-top {
    mask-image: none;
    -webkit-mask-image: none;
  }
}
